// Messages
//
// Show alert messages to users. You may add it to a single element like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  color: var(--highlight-fg);
  background-color: var(--highlight-bg);
  border-radius: var(--border-radius);
}
