:root {
  color-scheme: light dark;

  --gray-000: #f8f9fa;
  --gray-100: #f1f3f5;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  --red: #fa5252;
  --pink: #e64980;
  --grape: #be4bdb;
  --purple: #7950f2;
  --indigo: #4c6ef5;
  --blue: #228be6;
  --cyan: #15aabf;
  --teal: #12b886;
  --green: #40c057;
  --yellow: #fab005;
  --orange: #fd7e14;

  --blue-300: #74c0fc;
  --blue-400: #4dabf7;
  --yellow-100: #fff3bf;

  --body-font: "EB Garamond", Georgia, serif;
  --ui-font: "Hack", SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --body-font-size: 21px;
  --body-line-height: 1.5;
  --body-color: #3f3a35;
  --body-bg: #f8f5ee;
  --muted-color: #746d64;

  --link-color: #794631;
  --link-hover-color: #a05a3d;
  --link-underline-color: rgba(121, 70, 49, .38);

  --heading-color: #27231f;

  --border-color: #d8d1c5;
  --border-radius: .25rem;

  --code-font: "Hack", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --code-color: var(--grape);
  --code-bg: #eee9df;

  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #d8d2c9;
    --body-bg: #1f2122;
    --muted-color: #aaa39a;

    --heading-color: #f3eee6;

    --link-color: #d2a184;
    --link-hover-color: #edb899;
    --link-underline-color: rgba(210, 161, 132, .42);

    --border-color: #414345;

    --code-bg: #292c2e;
  }
}
